body {
    background-color: #bffffd;
    margin-left: 15px;
}

.header {
    height: 400px;
    width: 95%;
}
.header table {
    height: 100%;
    width: 100%;
    max-height: height;
    max-width: width;
}
.header td {
    vertical-align: top;
}
.header img {
    height: 380px;
    width: auto;
    margin: 5px;
}
.table_picture {
    width: 20%;
}

.section p {
    text-indent: 25px;
}

.bibtex_button {
    background-color: white;
}